$paddings: (
	"pt": top,
	"pr": right,
	"pb": bottom,
	"pl": left
);

$margins: (
	"mt": top,
	"mr": right,
	"mb": bottom,
	"ml": left
);

.p-0 {
	padding: 0;
}

.m-0 {
	margin: 0;
}

.mx-auto {
	margin-left: auto;
	margin-right: auto;
}

.my-auto {
	margin-top: auto;
	margin-bottom: auto;
}

.ml-auto {
	margin-left: auto;
}

.mr-auto {
	margin-right: auto;
}

@each $padding, $position in $paddings {
	.#{$padding}-#{$position} {
		padding-#{$position}: 0;
	}
}

@each $margin, $position in $margins {
	.#{$margin}-#{$position} {
		margin-#{$position}: 0;
	}
}

@for $i from 1 through 5 {
	$factor: #{$i * 0.5}em;

	@each $padding, $position in $paddings {
		.#{$padding}-#{$i} {
			padding-#{$position}: $factor;
		}
	}

	@each $margin, $position in $margins {
		.#{$margin}-#{$i} {
			margin-#{$position}:$factor;
		}
	}

	.p-#{$i} {
		padding: $factor;
	}
	.m-#{$i} {
		margin: $factor;
	}
	.py-#{$i} {
		padding-top: $factor;
		padding-bottom: $factor;
	}
	.px-#{$i} {
		padding-left: $factor;
		padding-right: $factor;
	}

}